{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BE KnowledgeGraph Visualization</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <link href="{% static 'plugins/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/popoto.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'plugins/css/style.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/load-style.css' %}" type="text/css" rel="stylesheet">

    <!--**********  弹窗样式 start  **********-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dialog.css' %}">
    {% block popup %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/dialog-ken.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/radio.css' %}">
    {% endblock %}
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/dialogFx.js' %}"></script>
    <!--**********  弹窗样式 end  **********-->
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.15.3/lib/index.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/overflow-style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//unpkg.com/element-ui@2.15.3/lib/theme-chalk/index.css">
    <style>
        #popoto-graph:fullscreen {
            width: 100%;
            height: 100%;
        }

        #popoto-graph:-webkit-full-screen {
            width: 100%;
            height: 100%;
        }

        #popoto-graph:-moz-full-screen {
            width: 100%;
            height: 100%;
        }

        #popoto-graph:-ms-fullscreen {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
{% block status %}
    <!--**********************************
        创建成功弹窗start
    ***********************************-->
    <div id="PopupSuccess" class="dialog" style="z-index: 100">
        <div class="dialog__overlay"></div>
        <div class="dialog__content">
            <p style="width: 220px;height: 30px;text-align: center"><strong>创建成功！</strong></p>
            <div style="text-align: right">
                <button id="successButton" class="action" data-dialog-close="">关闭</button>
            </div>
        </div>
    </div>
    <!--**********************************
        创建成功弹窗end
    ***********************************-->

    <!--**********************************
        创建失败弹窗start
    ***********************************-->
    <div id="PopupFail" class="dialog" style="z-index: 1002">
        <div class="dialog__overlay"></div>
        <div class="dialog__content">
            <p style="width: 220px;height: 30px;text-align: center"><strong>创建失败，该图谱已存在！</strong></p>
            <div style="text-align: right">
                <button class="action" data-dialog-close="">关闭</button>
            </div>
        </div>
    </div>
    <!--**********************************
        创建失败弹窗end
    ***********************************-->
{% endblock %}
<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header">
        <a class="brand-logo">
            <img class="logo-abbr" src="{% static 'images/graph-icon.png' %}">
            <img class="brand-title" src="{% static 'images/knowledge-graph.png' %}">
        </a>

        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="header-left">
                        <div class="dashboard_bar">
                            {% block dashboard_bar %}图谱创建/查询{% endblock %}
                        </div>
                    </div>
                    <ul class="navbar-nav header-right">
                        <li class="nav-item dropdown header-profile">
                            <a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown"
                               aria-expanded="false">
                                <img id="headPortrait" src="../static/images/head/youke.png" width="20" alt="">
                                <script>
                                    var obj = document.getElementById("headPortrait");
                                    var userid =
                                    {{ request.user.id }}
                                    var head = userid % 9
                                    if (typeof userid === 'number') {
                                        let headSrc = '../static/images/head/head' + head + '.png'
                                        let imgSrc = obj.setAttribute("src", headSrc);
                                    }
                                </script>
                                <div class="header-info">
                                    <span class="text-black">{{ request.user }}</span>
                                    <p class="fs-12 mb-0">{{ request.user.email }}</p>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="background-color:#B0E2FF">
                                <a href="#" class="dropdown-item ai-icon">
                                    <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary"
                                         width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg>
                                    <span class="ml-2">Profile </span>
                                </a>
                                <a href="#" class="dropdown-item ai-icon">
                                    <svg t="1626309077007" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="2495" width="18" height="18">
                                        <path d="M789.504 435.2c42.496 0 76.8 34.304 76.8 76.8v358.4c0 42.496-34.304 76.8-76.8 76.8h-563.2c-42.496 0-76.8-34.304-76.8-76.8v-358.4c0-42.496 34.304-76.8 76.8-76.8h563.2m0-76.8h-563.2c-84.992 0-153.6 68.608-153.6 153.6v358.4c0 84.992 68.608 153.6 153.6 153.6h563.2c84.992 0 153.6-68.608 153.6-153.6v-358.4c0-84.992-69.12-153.6-153.6-153.6z m-281.6-281.6c98.816 0 179.2 80.384 179.2 179.2v102.4h-358.4V256c0-98.816 79.872-179.2 179.2-179.2m0-76.8c-141.312 0-256 114.688-256 256v179.2h512V256c0-141.312-114.688-256-256-256z m0 806.4c-20.992 0-38.4-17.408-38.4-38.4v-153.6c0-20.992 17.408-38.4 38.4-38.4s38.4 17.408 38.4 38.4v153.6c0 20.992-17.408 38.4-38.4 38.4z"
                                              fill="#67C23A" p-id="2496"></path>
                                    </svg>
                                    <span class="ml-2">Change Password </span>
                                </a>
                                <a href="{% url 'logout' %}" class="dropdown-item ai-icon">
                                    <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger"
                                         width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                        <polyline points="16 17 21 12 16 7"></polyline>
                                        <line x1="21" y1="12" x2="9" y2="12"></line>
                                    </svg>
                                    <span class="ml-2">Logout </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->


    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="dlabnav">
        <div class="dlabnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="{% block index %}{% endblock %}">
                    <a class="has-arrow ai-icon" href="{% url 'index' %}" aria-expanded="false">
                        <svg t="1623587202320" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="2930" width="200" height="200">
                            <path d="M602.112 557.056l185.792 160.768a112 112 0 1 1-20.16 24.832l-185.6-160.64 19.968-24.96z m-178.944-1.024l20 24.96-186.944 161.664a112 112 0 1 1-20.16-24.832l187.104-161.792zM864 720a80 80 0 1 0 0 160 80 80 0 0 0 0-160z m-704 0a80 80 0 1 0 0 160 80 80 0 0 0 0-160z m352-672a112 112 0 0 1 16 222.848v143.744h-32V270.88A112 112 0 0 1 512 48z m0 32a80 80 0 1 0 0 160 80 80 0 0 0 0-160z"
                                  fill="#646E7F" p-id="2931"></path>
                            <path d="M864 192a96 96 0 1 1-74.976 155.968l-172.896 122.688a112 112 0 0 1-88.096 152.224v178.464a96 96 0 1 1-32 0l-0.032-178.464a112 112 0 0 1-88.096-152.32l-172.96-122.56a96 96 0 1 1 15.584-27.904l173.344 122.784A111.808 111.808 0 0 1 512 400c35.84 0 67.712 16.8 88.192 42.976l173.28-122.912A96 96 0 0 1 864 192z m-352 240a80 80 0 1 0 0 160 80 80 0 0 0 0-160z"
                                  fill="#13C0FF" p-id="2932"></path>
                        </svg>
                        <span class="nav-text">3D可视化</span>
                    </a>
                </li>
                <li class="{% block query %}mm-active{% endblock %}">
                    <a class="has-arrow ai-icon" href="{% url 'query' %}" aria-expanded="false">
                        <svg t="1624712242353" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="2592" width="200" height="200">
                            <path d="M554.83 358.12a28.4 28.4 0 0 1-10.56-54.77 215.17 215.17 0 0 1 51.09-13.57 28.4 28.4 0 0 1 6.49 56.42 162.35 162.35 0 0 0-36.48 9.88 28.21 28.21 0 0 1-10.54 2.04zM528.58 676.17a28.43 28.43 0 0 1-26.12-39.51 69.23 69.23 0 0 0 5.18-27.2c0-12.26-2.59-26.06-7.72-41a28.4 28.4 0 0 1 53.73-18.39c7.15 20.9 10.78 40.88 10.78 59.41a125.4 125.4 0 0 1-9.71 49.41 28.39 28.39 0 0 1-26.14 17.28z m-38.51-171.23a28.41 28.41 0 0 1-26.88-19.26c-7.06-20.75-10.63-40.59-10.63-59a125.53 125.53 0 0 1 9.91-49.88 28.39 28.39 0 0 1 52.17 22.43 69 69 0 0 0-5.29 27.45c0 12.15 2.56 25.85 7.61 40.7a28.4 28.4 0 0 1-26.89 37.54zM418.39 746.57a28.4 28.4 0 0 1-3.18-56.57 162.2 162.2 0 0 0 36.43-9.88 28.39 28.39 0 0 1 21.08 52.73 215.49 215.49 0 0 1-51.08 13.59 29.61 29.61 0 0 1-3.25 0.13z"
                                  fill="#303030" p-id="2593"></path>
                            <path d="M763.35 298.08m-136.04 0a136.04 136.04 0 1 0 272.08 0 136.04 136.04 0 1 0-272.08 0Z"
                                  fill="#279ACC" p-id="2594"></path>
                            <path d="M763.34 462.51c-90.66 0-164.42-73.77-164.42-164.43s73.76-164.43 164.42-164.43 164.44 73.76 164.44 164.43S854 462.51 763.34 462.51z m0-272.07A107.64 107.64 0 1 0 871 298.08a107.76 107.76 0 0 0-107.66-107.64z"
                                  fill="#303030" p-id="2595"></path>
                            <path d="M253.65 702.59m-136.04 0a136.04 136.04 0 1 0 272.08 0 136.04 136.04 0 1 0-272.08 0Z"
                                  fill="#279ACC" p-id="2596"></path>
                            <path d="M253.65 867C163 867 89.21 793.27 89.21 702.6S163 538.16 253.65 538.16s164.43 73.77 164.43 164.44S344.32 867 253.65 867z m0-272.07A107.65 107.65 0 1 0 361.3 702.6 107.77 107.77 0 0 0 253.65 595z"
                                  fill="#303030" p-id="2597"></path>
                        </svg>
                        <span class="nav-text">图谱创建/查询</span>
                    </a>
                </li>
                <li class="{% block examination %}{% endblock %}">
                    <a class="has-arrow ai-icon" href="{% url 'examination' %}" aria-expanded="false">
                        <svg t="1625278378902" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="2034" width="200" height="200">
                            <path d="M641.6384 798.72h-352.256A105.0624 105.0624 0 0 1 184.32 693.6576V186.9824A105.0624 105.0624 0 0 1 289.3824 81.92h445.2352A105.0624 105.0624 0 0 1 839.68 186.9824V583.68a20.48 20.48 0 0 1-40.96 0V186.9824A64.1024 64.1024 0 0 0 734.6176 122.88H289.3824A64.1024 64.1024 0 0 0 225.28 186.9824v506.6752A64.1024 64.1024 0 0 0 289.3824 757.76h352.256a20.48 20.48 0 0 1 0 40.96z"
                                  fill="#0090FF" p-id="2035"></path>
                            <path d="M883.87584 749.91616l-72.41728 72.3968L587.1616 598.016l72.41728-72.41728zM912.22016 796.61056l-54.14912 54.1696a12.9024 12.9024 0 0 1-18.24768 0l-15.79008-15.79008 72.3968-72.41728 15.79008 15.79008a12.9024 12.9024 0 0 1 0 18.24768zM573.44 512l73.5232 1.2288-72.2944 72.2944L573.44 512zM734.208 245.76h-450.56a20.48 20.48 0 0 1 0-40.96h450.56a20.48 20.48 0 0 1 0 40.96zM734.208 389.12h-450.56a20.48 20.48 0 0 1 0-40.96h450.56a20.48 20.48 0 0 1 0 40.96zM478.8224 532.48h-200.9088a20.48 20.48 0 0 1 0-40.96h200.9088a20.48 20.48 0 0 1 0 40.96zM478.8224 675.84h-200.9088a20.48 20.48 0 0 1 0-40.96h200.9088a20.48 20.48 0 0 1 0 40.96z"
                                  fill="#0090FF" p-id="2036"></path>
                        </svg>
                        <span class="nav-text">答题系统</span>
                    </a>
                </li>
                <li class="{% block userAnalysis %}{% endblock %}">
                    <a class="has-arrow ai-icon" href="{% url 'userAnalysis' %}" aria-expanded="false">
                        <svg t="1626314863362" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="5330" width="200" height="200">
                            <path d="M469.333333 853.333333a334.506667 334.506667 0 0 1-47.573333-3.413333A322.133333 322.133333 0 0 1 150.613333 569.386667 320 320 0 0 1 448 213.333333v311.04a42.666667 42.666667 0 0 0 10.453333 30.293334l209.28 228.48A315.733333 315.733333 0 0 1 469.333333 853.333333z"
                                  fill="#D9ECFF" p-id="5331"></path>
                            <path d="M426.666667 237.653333v287.36a64 64 0 0 0 16.64 42.666667l193.493333 212.053333A294.186667 294.186667 0 0 1 469.333333 832a311.68 311.68 0 0 1-44.586666-3.2A300.586667 300.586667 0 0 1 170.666667 567.04a298.666667 298.666667 0 0 1 256-329.386667M448 192h-1.28a341.333333 341.333333 0 0 0-28.586667 678.186667A353.066667 353.066667 0 0 0 469.333333 874.666667a338.986667 338.986667 0 0 0 213.333334-74.453334A21.333333 21.333333 0 0 0 682.666667 768l-208.64-228.48a21.333333 21.333333 0 0 1-5.546667-14.293333V213.333333a21.333333 21.333333 0 0 0-21.333333-21.333333z"
                                  fill="#409EFF" p-id="5332"></path>
                            <path d="M533.333333 469.333333V170.666667a320 320 0 0 1 298.666667 298.666666z"
                                  fill="#FFFFFF" p-id="5333"></path>
                            <path d="M554.666667 194.986667A298.666667 298.666667 0 0 1 808.106667 448H554.666667V194.986667M533.333333 149.333333a21.333333 21.333333 0 0 0-21.333333 21.333334v298.666666a21.333333 21.333333 0 0 0 21.333333 21.333334h298.666667a21.333333 21.333333 0 0 0 21.333333-23.253334A341.333333 341.333333 0 0 0 535.466667 149.333333z"
                                  fill="#409EFF" p-id="5334"></path>
                            <path d="M851.84 533.333333h-270.933333a21.333333 21.333333 0 0 0-15.786667 35.626667L746.666667 768a21.333333 21.333333 0 0 0 31.573333 0 339.626667 339.626667 0 0 0 94.08-212.266667 21.333333 21.333333 0 0 0-20.48-22.4z"
                                  fill="#E6A23C" p-id="5335"></path>
                        </svg>
                        <span class="nav-text">用户行为分析</span>
                    </a>
                </li>
                <li class="{% block recommend %}{% endblock %}">
                    <a class="has-arrow ai-icon" href="{% url 'recommend' %}" aria-expanded="false">
                        <svg t="1626341629350" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="2306" width="200" height="200">
                            <path d="M514.56 81.92a432.64 432.64 0 1 0 432.64 432.64A433.152 433.152 0 0 0 514.56 81.92z m0 812.30336a377.67168 377.67168 0 0 1-228.0704-76.35456 232.4736 232.4736 0 0 1-1.0496-21.89312 227.54816 227.54816 0 0 1 227.28704-227.29216 26.38336 26.38336 0 0 0 5.53984-0.59904 170.14272 170.14272 0 1 0-106.78784-33.37216A280.86272 280.86272 0 0 0 233.728 769.792a379.49952 379.49952 0 1 1 280.832 124.43136z m-1.83296-378.97216a117.08928 117.08928 0 1 1 117.08928-117.08928 117.2224 117.2224 0 0 1-117.08928 117.08928z"
                                  fill="#2966C1" p-id="2307"></path>
                            <path d="M752.128 686.83776l-100.9664-100.15744a26.78272 26.78272 0 0 0-37.67808 0 26.28608 26.28608 0 0 0 0 37.376l60.75904 60.28288h-218.368a26.43456 26.43456 0 1 0 0 52.86912h216.28928L613.376 796.24704a26.28608 26.28608 0 0 0 0.22528 37.376 26.78272 26.78272 0 0 0 37.67296-0.22016l100.97664-101.376a31.95392 31.95392 0 0 0-0.12288-45.18912z"
                                  fill="#FD9A16" p-id="2308"></path>
                        </svg>
                        <span class="nav-text">知识点推荐</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    {% block body %}
        <div class="content-body">
            <div class="container-fluid">
                <br>
                <ul class="navbar-nav header-right">
                    <li class="nav-item" style="justify-content: space-evenly">
                        <div class="radio">
                            <input id="xlore" name="radio" type="radio" value="xlore" checked>
                            <label for="xlore" class="radio-label">XLORE</label>
                        </div>
                        <div class="radio">
                            <input id="baike" name="radio" type="radio" value="baidu">
                            <label for="baike" class="radio-label">百度百科</label>
                        </div>
                        <div id="select">
                            <template>
                                <el-select v-model="value" @change="changeValue" maxlength=12 style="width: 270px"
                                           placeholder="请选择图谱深度（推荐：2层）">
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                            <span id="depth" style="color: red"></span>
                        </div>
                        <div class="input-group search-area d-lg-inline-flex d-none" style="width: 40%">
                            <div class="input-group-append" style="height:50px">
                                    <span class="input-group-text"><a href="javascript:void(0)"><i
                                            class="flaticon-381-search-2"></i></a></span>
                            </div>
                            <input id="addNode" name="addNode" type="text" style="height:50px" class="form-control"
                                   placeholder="请输入需要构建的课程名称">
                        </div>
                    </li>
                </ul>
                <section class="ppt-section-main">
                    {#                    <div class="ppt-section-header">#}
                    {#                        <span class="ppt-header-span">KnowledgePoints</span> display#}
                    {#                    </div>#}
                    <div class="ppt-container-graph">
                        <nav id="popoto-taxonomy" class="ppt-taxo-nav">
                            <!-- Label/taxonomy filter will be generated here -->
                        </nav>
                        <div id="popoto-graph" class="ppt-div-graph">
                            <!-- Graph will be generated here-->
                        </div>
                    </div>

                    <div id="popoto-query" class="ppt-container-query">
                        <!-- Query viewer will be generated here -->
                    </div>

                    <div id="popoto-cypher" class="ppt-container-cypher">
                        <!-- Cypher query viewer will be generated here -->
                    </div>

                    <div class="ppt-section-header">
                        <!-- The total results count is updated with a listener defined below -->
                        RESULTS <span id="result-total-count" class="ppt-count"></span>
                    </div>

                    <div id="popoto-results" class="ppt-container-results">
                        <!-- Results will be generated here -->
                    </div>
                </section>

            </div>
        </div>
    {% endblock %}
    <!--**********************************
        Content body end
    ***********************************-->

</div>
<!--**********************************
    Main wrapper end
***********************************-->


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/popoto.min.js' %}"></script>
<script src="{% static 'plugins/vendor/global/global.min.js' %}"></script>
<script src="{% static 'plugins/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'plugins/js/custom.min.js' %}"></script>
<script src="{% static 'plugins/js/dlabnav-init.js' %}"></script>
<script src="{% static 'js/load.js' %}"></script>

{% block query_JS %}
    <script>
        //创建成功弹窗
        var PopupSuccess = document.getElementById('PopupSuccess'),
            dlgSuccess = new DialogFx(PopupSuccess);
        console.log(PopupSuccess)
        console.log(dlgSuccess)

        //创建失败弹窗
        var PopupFail = document.getElementById('PopupFail'),
            dlgFail = new DialogFx(PopupFail);
        console.log(PopupFail)
        console.log(dlgFail)
    </script>

    <script>
        popoto.graph.link.SHOW_MARKER = true;

        // 连接到neo4j数据库
        popoto.rest.CYPHER_URL = "http://localhost:7474/db/data/transaction/commit";
        popoto.rest.AUTHORIZATION = "Basic " + btoa("neo4j:ztj19991124");

        // 定义标签提供程序列表以自定义图形行为:
        popoto.provider.node.Provider = {
            "课程": {
                "returnAttributes": ["name", "knowledgeId"],
                "constraintAttribute": "name"
            },
            "一级知识点": {
                "returnAttributes": ["name",],
                "constraintAttribute": "name"
            },
            "二级知识点": {
                "returnAttributes": ["name",],
                "constraintAttribute": "name"
            },
            "三级知识点": {
                "returnAttributes": ["name",],
                "constraintAttribute": "name"
            },
            {#"子知识点": {#}
            {#    "returnAttributes": ["name",],#}
            {#    "constraintAttribute": "name"#}
            {# },#}
        };

        // 更改显示结果的数量:
        popoto.query.RESULTS_PAGE_SIZE = 100;
        // 在Web浏览器控制台中添加调试跟踪
        popoto.logger.LEVEL = popoto.logger.LogLevels.INFO;
        // 在返回的结果计数上添加一个侦听器以更新页面中的计数
        popoto.result.onTotalResultCount(function (count) {
            d3.select("#rescount").text(function (d) {
                return "(" + count + ")";
            });
        });

        popoto.start("课程");
    </script>
    <script>
        //加载层-全屏
        function mask_fullscreen() {
            $.mask_fullscreen();
        }

        //关闭所有加载层
        function mask_close_all() {
            $.mask_close_all();
        }
    </script>
    <script>
        //选择构建深度
        var Main = {
            data() {
                return {
                    options: [{
                        value: '1',
                        label: '1层（仅一、二级知识点，时间较短）'
                    }, {
                        value: '2',
                        label: '2层（一、二、三级知识点，推荐）'
                    }, {
                        value: '3',
                        label: '深层（所有知识点，时间较长）'
                    }],
                    value: ''
                }
            }
        }
        var depth = null
        var Ctor = Vue.extend(Main)
        new Ctor({
            methods: {
                changeValue(value) {
                    console.log(value);
                    let obj = {};
                    obj = this.options.find((item) => {
                        depth = value
                        return item.value === value;
                    });
                    $('#depth').html("")
                    console.log(obj.label);
                }
            }
        }).$mount('#select')


        $('#addNode').keydown(function (e) {
            if (e.which === 13) {
                var node_name = $('#addNode').val()
                var source = $('input:radio[name="radio"]:checked').val();
                if (depth !== null) {
                    mask_fullscreen()
                    addNode(node_name, source, depth);
                }else {
                    $('#depth').html("请选择图谱深度")
                }
            }
        })


        function addNode(node_name, source, depth) {
            console.log(source)
            $.ajax({
                url: "/query/",
                type: 'post',
                dataType: "json",
                data: {
                    'Node': node_name,
                    'Source': source,
                    'Depth': depth,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    console.log(data.status)
                    if (data.status === 'YES') {
                        popoto.update("课程");
                        mask_close_all()
                        dlgSuccess.toggle.bind(dlgSuccess)()
                        setTimeout(function () {
                            window.location.reload();//页面刷新
                        }, 1500);
                    } else {
                        dlgFail.toggle.bind(dlgFail)()
                        $('#addNode').val("");
                        mask_close_all()
                        setTimeout(function () {
                            window.location.reload();//页面刷新
                        }, 1500);
                    }
                }
            });
        }
    </script>
{% endblock %}
</body>

</html>
